<div id="<%= dom_id flight %>">
  <p>
    <strong>Name:</strong>
    <%= flight.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= flight.date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= flight.duration %>
  </p>

  <p>
    <strong>Airport:</strong>
    <%= flight.airport_id %>
  </p>

</div>
